{% extends 'h.html' %}

{% block body %}
 {% include 'includes/_sidebar.html' %}
<div class="container-fluid">
  <h1>Add Entry</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form1.day, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form1.breakfast, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form1.lunch, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form1.dinner, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
{% endblock %}
